<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&family=Marck+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title th:text="${title} + ' | Furniture Orangery'"/>
</head>

<body>

<!--Header-->

<header th:insert="blocks/header :: header" class="header"></header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<!-- Cart -->

<div class="cart">
  <form class="cart_content" th:action="@{/cart}" method="post" th:unless="${#lists.isEmpty(listUserCart)}">
    <table>
      <thead>
      <tr>
        <th>Item name</th>
        <th>Item image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Fabric category</th>
        <th>Color</th>
        <th>Subtotal</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cartItem : ${listUserCart}">
        <td><a th:href="@{/product/{id}(id=${cartItem.value.id})}"><p th:text="${cartItem.value.itemName}"/></a></td>
        <td><img class ="item_img" th:src="@{${cartItem.value.imgPath}}"></td>
        <td><p th:text="${cartItem.value.qnt}"/></td>
        <td><p th:text="${cartItem.value.price}"/></td>
        <td><p th:text="${cartItem.value.fabricCategory}"/></td>
        <td><p th:text="${cartItem.value.colorName}"/></td>
        <td><p th:text="${cartItem.value.subtotal}"/></td>
        <td><input type="hidden" name="cartItemId" th:value="${cartItem.key}"></td>
        <td><a th:href="|@{/cart/{id}(id=${cartItem.key})}|">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <p>Subtotal:</p>
    <p th:text="${#aggregates.sum(listUserCart.values.![subtotal])}"/>

    <a href="/cart/checkout">Checkout</a>
  </form>

  <p th:if="${#lists.isEmpty(listUserCart)}">No items in cart</p>
</div>

</body>
</html>