<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&family=Marck+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/style-catalog.css}">
  <title th:text="${title} + ' | Furniture Orangery'"/>
</head>

<body>

<!--Header-->
<header th:insert="blocks/header :: header" class="header"></header>

<!-- Catalog -->

<div class="catalog">
  <div class="container">

    <div class="catalog_search">
      <h1 class="catalog_title">Каталог</h1>
      <form th:action="@{/search}" method="get">
        <input type="text" class="input-search" name="keyword" th:value="${keyword}"  placeholder="Search...">
        <button type="submit" class="btn btn--search">Search</button>
      </form>
    </div>

    <div class="filter_content">

    </div>

    <div class="catalog_container" >
      <div class="catalog_content" th:each="el : ${items}">
        <a th:href="@{/product/{id}(id=${el.item_id})}"><img class ="item_img" th:src="@{${el.img_path}}"></a>
        <p class="item_name" th:text="${el.item_name}"/>
        <p class="item_price" th:text="${el.prices[0]}"/>
        <p class="item_dims" th:text="'Габариты: ' + ${el.diml} + ' x ' + ${el.dimw} + ' x ' + ${el.dimh}"/>
      </div>
    </div>

  </div>
</div>

</body>
</html>

<!--
<div th:each="el : ${items}">
      <h3 th:text="${el.item_name}"/>
      <h3 th:text="${el.item_desc}"/>
      <tr th:each="p : ${el.prices}">
        <h3 th:text="${p}"/>
      </tr>
      <tr th:each="cat : ${el.fabric_categories}">
        <h3 th:text="${cat}"/>
      </tr>
    </div>
-->