<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&family=Marck+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/style-catalog.css}">
  <title th:text="${title} + ' | Furniture Orangery'"/>
</head>

<body>

<!--Header-->
<header th:insert="blocks/header :: header" class="header"></header>

<!-- Product Edit -->

<form th:action="@{'/admin/catalog/' + ${item.item_id}}" th:method="post" th:object="${item}">
  <div><label> Name : <input type="text" th:field="*{item_name}"/> </label></div>
  <div><label> Desc: <input type="text" th:field="*{item_desc}"/> </label></div>
  <div><label> Img path: <input type="text" th:field="*{img_path}"/> </label></div>
  <div><label> Quantity: <input type="number" th:field="*{qnt}"/> </label></div>
  <div><label> Type: <input type="number" th:field="*{sofa_type}"/> </label></div>
  <div><label> Length: <input type="number" th:field="*{diml}"/> </label></div>
  <div><label> Width: <input type="number" th:field="*{dimw}"/> </label></div>
  <div><label> Height: <input type="number" th:field="*{dimh}"/> </label></div>
  <div><label> Length Sl: <input type="number" th:field="*{diml_sleep}"/> </label></div>
  <div><label> Width Sl: <input type="number" th:field="*{dimw_sleep}"/> </label></div>
  <div><label> Height Sl: <input type="number" th:field="*{dimh_sleep}"/> </label></div>
  <div><label> Depth Sit: <input type="number" th:field="*{dimd_seat}"/> </label></div>
  <div><label> Height Sit: <input type="number" th:field="*{dimh_seat}"/> </label></div>
  <div><input type="submit" value="Edit"/></div>
</form>

</body>
</html>