<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&family=Marck+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title th:text="${title} + ' | Furniture Orangery'"></title>
</head>

<body>

<!--Header-->

<header th:insert="blocks/header :: header" class="header"></header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<!-- Product -->
<div class="main_container">
  <div class="container">
    <div class="row g-5">
      <div class="item_info col-md-7 col-lg-8">
        <img class ="item_img card-img-top img-responsive" th:src="@{'/' + ${item.img_path}}">
        <div class="desc_container">
          <p class="item_desc" th:text="${item.item_desc}"></p>
          <tr class="available_styles" th:each="st : ${item.item_styles}">
            <p class="item_style" th:text="${st.style_name}"></p>
          </tr>
        </div>

        <div class="features_container">
          <div class="dims_container">
            <p class="item_dims">Dims:</p>
            <p class="item_dims" th:text="${item.diml} + ' x ' + ${item.dimw} + ' x ' + ${item.dimh}"></p>
            <p class="item_dims">Sleeping accommodation:</p>
            <p class="item_dims" th:text="${item.diml_sleep} + ' x ' + ${item.dimw_sleep} + ' x ' + ${item.dimh_sleep}"></p>
            <p class="item_dims">Seating accommodation:</p>
            <p class="item_dims" th:text="${item.dimd_seat} + ' x ' + ${item.dimh_seat}"></p>
          </div>
        </div>
      </div>

      <div class="item_info_moving col-md-5 col-lg-4">
        <form id="addToCartForm" onsubmit="addToCart(event)" class="item_info_moving" method="post" th:action="@{'/product/'}" th:object="${cartItem}">
          <p class="item_name_m " th:text="${item.item_name}"></p>
          <p class="item_price_m " id="price_field" th:value="${item.prices[0]}" th:text="${#numbers.formatInteger(item.prices[0],3,'DEFAULT')} + ' ₽'"></p>
          <div class="select mb-2">
            <select class="form-select" id="fabric_category" name="fabric_category" th:field="*{fabricCategory}" onchange="changePrice(this)">
              <option class="cat_option" th:each="cat : ${item.fabric_categories}" th:value="${cat}" th:text="'Category ' + ${cat}"></option>
            </select>
          </div>
          <div class="color_select list-group list-group-radio d-grid gap-2 border-0 mb-2">
            <div class="position-relative" th:each="color : ${item.item_colors}">
              <input th:id="colorSelectRadio + ${color.color_id}" type="radio" name="color_name" class="form-check-input position-absolute mt-3 end-0 me-3 fs-5" style="z-index:99" th:value="${color.color_name}" th:field="*{colorName}">
              <input type="hidden" name="colorId" th:value="${color.color_id}" th:with="colorId=*{colorId}">
              <label class="list-group-item py-3 pe-5" th:for="colorSelectRadio + ${color.color_id}" th:text="${color.color_name}"></label>
            </div>
          </div>
          <input class="form-control mb-2" type="number" name="quantity" id="quantity" value="1" min="1" max="100" th:field="*{qnt}">

          <input type="hidden" name="price" id="price_input" th:value="${item.prices[0]}" th:with="price=*{price}">
          <input type="hidden" name="id" id="item_id" th:value="${item.item_id}" th:with="id=*{id}">
          <input type="hidden" name="itemName" th:value="${item.item_name}" th:with="itemName=*{itemName}">
          <input type="hidden" name="imgPath" th:value="${item.img_path}" th:with="imgPath=*{imgPath}">

          <button class="btn-cart btn btn-primary d-inline-flex align-items-center" type="submit">Add to cart</button>
        </form>
      </div>
    </div>
  </div>
</div>

</body>

<script th:inline="javascript">
  function changePrice(val) {
    var listPrices = [[${#numbers.listFormatInteger(item.prices,3,'DEFAULT')}]];
    var listPricesInt = [[${item.prices}]];
    var num = val.value;
    document.getElementById("price_input").value = listPricesInt[num];
    document.getElementById("price_field").innerHTML = listPrices[num] + ' ₽';
  }
</script>
<script th:inline="javascript">
  function addToCart(e) {
    var url = "/product";
    var request = new XMLHttpRequest();
    request.open('POST', url, true);

    request.send(new FormData(event.target));
    event.preventDefault();
  }
</script>

</html>