<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="p-3 mb-3 border-bottom" th:fragemnt="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/catalog" class="nav-link px-2 link-body-emphasis">Catalog</a></li>
                <li><a href="/admin" sec:authorize="hasAuthority('ADMIN')" class="nav-link px-2 link-body-emphasis">Edit tools</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis">About Us</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul th:unless="${#httpServletRequest.remoteUser == null}" class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/cart">Cart</a></li>
                    <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <form id="logout" th:action="@{/logout}" method="post">
                        <li>
                            <a class="dropdown-item" href=# onclick="document.getElementById('logout').submit()">
                                <input type="hidden"/>
                                Sign out
                            </a>
                        </li>
                    </form>
                </ul>
                <ul th:if="${#httpServletRequest.remoteUser == null}" class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/login">Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>